<div class="basic-container black-container">
    <h1>
        בקרוב... :)
    </h1>
    <br><br>
    <div style="text-align:center;">
        <%= link_to 'חזרה לדף הבית', root_path, class: "btn btn-primary btn-lg"%>
    </div>
</div>