<%= render 'layouts/responsive_header' %>

<%= image_tag 'biglogo.jpg', class: 'img-fluid' %>

<div class="center jumbotron" , style="background-color:#77E8F4; padding-top:100px;">
    <div class="container rounded p-3 my-3 bg-info ">
        <%= render 'layouts/about' %>
    </div>
</div>

<div class="center jumbotron" , style="background-color:#77E8F4">
    <br><br><br>
    PLACEHOLDER - image carousel
    <br><br><br>
</div>

<div class="center jumbotron" , style="background-color:#77E8F4">
    <br><br><br>
    PLACEHOLDER - Our Instructors
    <br><br><br>
</div>

<div class="center jumbotron" , style="background-color:#77E8F4">
    <br><br><br>
    PLACEHOLDER - Payment Plans
    <br><br><br>
    <%= link_to "Contact Us", placeholder_path, class: "btn btn-lg btn-primary" %>
</div>