<div class="basic-container">
    <h1>
        תודה על ההתעניינות. <br>
        ניצור איתכם קשר בקרוב :)<br><br>
        <%= link_to "חזרה לאתר", root_path_helper, class: "btn btn-main btn-lg" %>

    </h1>
    ]
</div>