<div class="basic-container">

</div>



<div id="events_calendar">
    <%= render 'layouts/admin_calendar', activities: @activities, tasks: @open_tasks, week_number: 1,
         date_begin: Date.today.beginning_of_week, show_toggle_button: true, show_date: true %>
</div>