<div class="basic-container">
    TBD - Daily Summary
</div>



<div class="basic-container">
    <%= render 'layouts/calendar' , activities: @activities, week_number: 1, date_begin: Date.today, show_toggle_button:
        true, show_date: true %>
</div>