<div class="basic-container">

    <%= bootstrap_form_with(model: @time_slot, url: finalize_path, local: true, layout: :horizontal, label_col: "col-sm-4", control_col: "col-sm-10") do |f| %>
    <%= f.hidden_field :id, value: @time_slot.id, class: "btn btn-primary" %>
    <%= f.select :enrolled, @full_names_arr, {}, class: 'js-activities', label: "" %>
    <%= f.submit "הרשמה לשיעור" %>
    <% end %>

</div>