<% provide(:title, "Instructor Dashboard") %>


<div class="basic-container">
    <div class="row">
        <h4 style="color: black; text-align: center;">
            <strong> השיעורים של <%= current_instructor.first %> </strong>
        </h4>
        <%= render 'layouts/admin_calendar', activities: current_instructor.time_slots, show_toggle_button: true, show_date: true, week_number: 1, date_begin: Date.today.beginning_of_week %>

    </div>
</div>