<div class="basic-container first-container signup-container">
    <h1>
        רכישת כרטיסים
    </h1>
    <div class="row">

        <div style="font-size: 1.6rem; padding-bottom: 10px; padding-top: 10px;" , dir="rtl">
            <strong>
                במהלך תקופת ההרצה של הסטודיו, ניתן יהיה לרכוש כרטיסים לשיעורים במחיר מוזל של 40 ש"ח.
                <br>
                לאחר ביצוע התשלום יש לרענן את הדף על מנת לראות את מספר הכרטיסים המעודכן.
                <br>
            </strong>
        </div>
        <%= link_to "לרכישה", placeholder_path, class: "btn btn-primary btn-lg btn-floating", style: "background-color: #f5f1f0;"%><br>
        <%= link_to "(מדיניות ביטולים)", placeholder_path %>
        <br>

        <div style="padding-bottom: 10px; padding-top: 10px;" , dir="rtl">
            <strong>
                בתום תקופת ההרצה, ניתן יהיה לרכוש כרטיסים בודדים וכרטיסיות באחד מן המסלולים הבאים:
            </strong>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card payments">
                <h1> 10X </h1>
                <div class="card-body" style="width: 100%; background-color: black; !important">
                    450 ש"ח
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card payments">
                <h1> 5X </h1>
                <div class="card-body" style="width: 100%; background-color: black; !important">
                    235 ש"ח
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card payments">
                <h1> 1X </h1>
                <div class="card-body" style="width: 33%; background-color: black; !important">
                    50 ש"ח
                </div>
            </div>
        </div>
    </div>

</div>