<div class="basic-container" , style="max-width: 700px; direction: rtl;">
    <div class="container-fluid rounded p-3 my-3 text-white" , style="background-color: transparent; margin-top: 20px;">
        <div class="col-md-10 col-md-offset-2">

            <%= render 'form', contact: @contact, activity: @activities %>
            <%= link_to 'חזרה לדף הבית', root_path, class: "btn btn-main" %>
        </div>
    </div>
</div>