<div class="row">
    <div class="basic-container">
        <div class="enroll-select" style="margin-bottom: 30px;">
            <label for="select-trainees" >
                <span style="color: white;">בחר מתאמנים לרישום</span> 
                <select  multiple="multiple" id="select-trainees" name="trainees[]" style="width: 80%;">
                    <% @trainees.each do |trainee| %>
                    <option value="<%= trainee.id %>" ><%= trainee.full_name %></option>
                    <% end %>
                </select>
            </label>
        </div>
    </div>
</div>

<div class="row">
<div class="basic-container">

    <%= render 'layouts/calendar', activities: @time_slots,
         week_number: 1, show_toggle_button: true,
          date_begin: Date.today.beginning_of_week, show_date: true %>
</div>
</div>