<div id='tableA' >
  <table class="table table-hover table-bordered" id="searchableB"
         style="background-color: white; direction: rtl;">
    <thead class="thead-dark">
    <tr>
      <th class="text-center">שם השיעור</th>
      <th class="text-center">יום</th>
      <th class="text-center">תאריך</th>
    </tr>
    </thead>

    <tbody>
    <% @past_time_slots.each do |slot| %>
      <tr>
        <td>
          <%= slot.mother.name %>
        </td>
        <td>
          <%= slot.start_time.strftime("%H:%M") %>
        </td>
        <td>
          <%= slot.start_time.strftime("%d / %m / %y") %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>