@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Poiret+One);



$gray-medium-light: #eaeaea;
$container-padding-x: 5%;
$studio-color: #7acfe3;
$shadow-color: #c4beab;


/* mixins, variables, etc. */

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
  
}

.btn {
  color:black !important;
  text-decoration:none;
  padding:5px 10px;
  border-radius:3px;
  /* font-family: 'Poiret One', cursive; */
  font-size:2em;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
 }
 
 .btn-main {
    @include button-bg(#ebe9e4);
 }
 
 .btn-blue {
    @include button-bg(#3498db);
 }

.signup{
  max-width: 20% !important;
  height: auto !important;
  align-self: center !important;
}

.enrolled-activity{
  background-color: black;
  border: 2px bold;

}

.buttons{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 5px 10px 10px;
  width: fit-content;
  align-items: center;
  background-color: black;
  border-radius: 13%;

}


.card{
  width: 100%;
  text-align: center;
  border-radius: 8%;
}

.card-body{
  width: 80%;
  height: 90%;
  display: inline-block;
  margin: 0 auto;  text-align: center; border-radius: 10%; padding-top: 10px; padding-bottom: 10px; margin-top: 5px; font-weight: bold;
}

.contact{
  border-radius: 13%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;

}

.basic-container {
  @include make-container();
  border-radius: 13%;
  border: 2px solid;
  background-image: linear-gradient($studio-color, #b6f2f0);
  box-shadow: 5px 10px #c4beab;
  margin-top: 30px;
  direction: rtl;
  
  &.first-container{
    margin-top: 250px !important;

    &.signup-container{
      max-width: 600px;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.login-container{
    margin-top: 180px !important;
    max-width: 400px;
    float: right;
    padding-bottom: 20px;
    }

    &.purchase-container{
      display: grid;
    }
}


.back-image {
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.opaque-back-img {
  opacity: 0.9;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.content {
  position: relative;
}

.profile-stats{
  background-color: white !important;
  border-radius: 13%;
  color: black;
  text-align: center;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.owl-carousel-img{
  text-align: center;
  box-shadow: 5px 10px #c4beab;
  font-size: 10px;

}

/* universal */

body {
  background-image: url("background_image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}



ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 5px; 
  font-size: 1.4rem;
  text-align: center;
}

li.menu-item:not(:last-child) { 
  margin-bottom: 10px !important; 
}

.img-circle{
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header {
  background-color: black !important;
}

#header_container {
  background-color: $studio-color;
  text-align: center;
  color: black;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: white !important;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.name {
    margin-top: 20px;
    background-color: black !important;
    color: blanchedalmond;
    font-size: 1.4em;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 10px;
    margin-top: 3px;
  }
  section {
    padding: 10px 0;
    margin-top: 5px;
    overflow: hidden;
    border-radius: 13%;
    &:first-child {
      border: 0;
      padding-top: 10px;
    }
  }
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
