<div class="basic-container" , style="max-width: 700px;">
    <div class="container-fluid rounded p-3 my-3 text-white" , style="background-color: transparent; margin-top: 20px;">
        <div class="col-md-10 col-md-offset-2">

            <%= render 'form', activity: @activity %>

            <%= link_to 'Back', activities_path %>
        </div>
    </div>
</div>