<br><br>

<p>
    We are very excited to announce the upcoming launch of The Studio. <br>
    Led by Lihie Levy, a dancing instructor with 10 years of experience,
    The Studio will provide an array of classes and activities, for all ages. <br>
    From a Hip-Hop dance class, through Yoga and Pilates, to Child-Birth class and
    various enriching lectures and workshops.<br><br>
    Please enter your contact information below, and we will notify you when we open.<br><br>
    If you are an instructor intrested in teaching a class at our studio, check 
    the appropriate box and your field.<br><br>
</p>