<br><br>

<p style="text-align: center; font-size: 1.6rem">
    הסטודיו קם בתחילת שנת 2021 בלב שכונת נווה שאנן בחיפה, ממש במרכז זיו. <br>
    אנחנו מאמינים בפשטות הדברים - <br>
    .מקום קטן ומלא באנרגיה טובה. מקום בו תוכלו להגיע אליו ולהעשיר את עצמכן. <br>
    אנו מאמינים כי נפש בריאה קיימת בגוף בריא, בשביל זה אנחנו כאן.
    <br>
    ריכזנו עבורכם במקום אחד את המדריכים הטובים והאיכותיים ביותר בצפון, הנאה צרופה מובטחת.
    <br><br>
    בוא לזוז - מחכים לכם

</p>