<% if current_resource.nil? %>
<% if current_page?(root_path) %>
<h1 style="color: white !important; font-size: 50px !important;">
    ברוכים הבאים לסטודיו :)
</h1>
<% end %>
<% else %>
<% actions_helper(resource).each do |link| %>
<%= link %>
<% end %>
<% end %>