<div class="contact">

    <a class="btn btn-primary btn-lg btn-floating" style="background-color: #3b5998; color: white;" href="#!" role="button">Facebook</a>
    <a class="btn btn-primary btn-lg btn-floating" style="background-color: #ac2bac; color: white;" href="https://www.instagram.com/the.studio.bll/" role="button"> instagram</a>
    <a class="btn btn-primary btn-lg btn-floating" style="background-color: green; color: white;" href="https://wa.me/message/GRK5UFPDEZIFK1" role="button"> WhatsApp</a>
    <a class="btn btn-primary btn-lg btn-floating" style="background-color: brown; color: white;" href="tel://+97246042278" role="button">טלפון</a>
    <br><br>
    <%= link_to "צור קשר", new_contact_path, class: "btn btn-main btn-lg"  %>

</div>