<div>
    <button class="btn btn-main dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span> <%= trainee.interests %> </span>
    </button>
    <ul class="dropdown-menu no-bullets" style="background-color: info;">
        <% trainee.enroll_count.each do |name, count| %>
        <li>
            <%= name %> | <%= count %>
        </li>
        <% end %>
    </ul>
</div>