<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <%= image_tag 'logo.jpg', id:'logo' %>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? || admin_signed_in? || instructor_signed_in? %>
                <li><%= sign_out_resource %></li>
                <% else %>
                <li><%= link_to('Trainee Login', new_user_session_path) %></li>
                <li><%= link_to('Instructor Login', new_instructor_session_path) %></li>
                <% end %>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>