<div class="center jumbotron" , style="background-color:#77E8F4; padding-top:100px;">
    <h1>The Studio</h1>
    <h2>by Lihie Levy</h2>

    <h2>
        This is the home page for the
        <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
        sample application.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron" , style="background-color:#77E8F4">
    <br><br><br>
    PLACEHOLDER - image carousel
    <br><br><br>
</div>

<div class="center jumbotron" , style="background-color:#77E8F4">
    <br><br><br>
    PLACEHOLDER - Our Instructors
    <br><br><br>
</div>

<div class="center jumbotron" , style="background-color:#77E8F4">
    <br><br><br>
    PLACEHOLDER - Payment Plans
    <br><br><br>
    <%= link_to "Contact Us", placeholder_path, class: "btn btn-lg btn-primary" %>
</div>