<div class="navbar-nav mr-auto nav-right dropdown">
    <a class="nav-link dropdown-toggle btn btn-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        התחברות
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <%= link_to "כניסת מדריכים", '#', class: "dropdown-item btn btn-primary btn-m sqs-block-button-element" %>
        <%= link_to "כניסת מתאמנים", '#', class: "dropdown-item btn btn-primary btn-m sqs-block-button-element" %>
    </div>
</div>