<!-- available colors: primary | secondary | white | ghost-->
<!-- available sizes: xl | lg | md | sm-->
<!-- the bootstrap navbar-->
<nav class="navbar navbar-fixed-top navbar--color--secondary navbar--size--lg" data-startColor="navbar--color--secondary" data-startSize="navbar--size--xl" data-intoColor="navbar--color--primary" data-intoSize="navbar--size--md">
    <div class="container">
        <div class="nav navbar-nav navbar-right">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" data-target="#mobileNav" aria-haspopup="true" aria-expanded="false">
                כניסה
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul class="no-bullets">
                    <li class="menu-item"><%= link_to "כניסת מדריכים", new_instructor_session_path %></li>
                </ul>
            </div>
        </div>
        <div class="nav navbar-nav navbar-left">
            <%= link_to image_tag("smallest_logo.jpg", :alt => "The Studio"), root_path %>
        </div>

    </div>


</nav>