<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <%= link_to root_path do %>
    <%= image_tag("logo-small.jpg", alt: 'The Studio')%>
    <div style="float: right !important;">
        <%= render 'layouts/resource_header', resource: current_resource %>
    </div>
    <% end %>
</nav>
<div class="spacer-div" id="spacer"></div>