<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><%= image_pack_tag 'media/images/logo-small.jpg' %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="studio-circle">
        <span class="navbar-toggler-icon"></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown dropstart">
            <a class="nav-link dropdown-toggle btn btn-primary btn-lg " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              התחברות
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "כניסת מתאמנים", '#', class: "btn btn-primary" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "כניסת מדריכים", '#', class: "btn btn-primary" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
  -->